In [1]:
import pandas as pd
data = pd.read_csv('E:\\data\\Tencent\\train.csv',encoding='utf8')

In [9]:
data_1 = pd.read_csv('E:\\data\\Tencent\\adFeature.csv')

In [11]:
data_1.head()

,aid,advertiserId,campaignId,creativeId,creativeSize,adCategoryId,productId,productType
0,2169,16770,38402,43877,35,89,9760,9
1,411,9106,163120,220179,79,21,0,4
2,894,452,38391,43862,35,10,12193,11
3,450,45705,352827,565415,42,67,0,4
4,313,243,531344,979528,22,27,113,9

In [ ]:
data[data['uid']]

In [20]:
data['uid'].value_counts()

31265940    16
80789762    15
2872218     15
27479691    15
50297463    14
28637723    14
81654464    14
39353958    14
73621671    14
33922364    13
61196595    13
66767308    13
74824359    13
3657146     12
4968543     12
28738646    12
70427934    12
16670102    12
15599189    12
66203491    12
39387093    12
54269942    12
48974848    12
13906507    12
10529885    12
68661712    11
18425672    11
11388276    11
66768743    11
27223752    11
            ..
1677309      1
18585533     1
14397370     1
6012856      1
79611631     1
14528378     1
43886459     1
69048189     1
10851384     1
73039744     1
59189983     1
43673475     1
35264397     1
64622478     1
47902610     1
4889830      1
22724504     1
26986423     1
78062690     1
43681695     1
52123557     1
22757288     1
26945451     1
34726664     1
14356398     1
10160047     1
55641979     1
26994611     1
8894608      1
17198896     1
Name: uid, Length: 7883466, dtype: int64

In [17]:
data['aid'].value_counts()

692     553109
1119    392531
411     372787
1468    329152
1291    276310
561     244151
1918    241755
1566    211522
191     208786
1415    182716
914     179670
70      178444
1605    160011
1379    141733
136     140882
117     126933
2031    126853
846     119435
1407    118166
1530    112370
389     104636
916      93276
302      92284
1950     91864
2118     91387
1017     86516
1377     86107
1749     82076
1827     81287
311      80505
         ...
886      10216
1027      9927
1842      9850
671       9498
1871      9441
1580      8665
205       8335
903       8288
1847      8259
1335      8167
450       8134
2196      8099
1507      7989
875       7676
1429      7668
1057      7625
2154      7624
951       7497
516       7472
272       7442
975       7304
1085      7194
336       7096
927       7068
313       7031
1746      6886
838       6842
1242      6757
1351      6723
1925      6624
Name: aid, Length: 173, dtype: int64

In [4]:
data.describe()

                aid           uid         label
count  8.798814e+06  8.798814e+06  8.798814e+06
mean   1.044592e+03  4.126560e+07 -9.040868e-01
std    6.138768e+02  2.383198e+07  4.273488e-01
min    6.000000e+00  2.000000e+00 -1.000000e+00
25%    5.190000e+02  2.061748e+07 -1.000000e+00
50%    1.107000e+03  4.127522e+07 -1.000000e+00
75%    1.530000e+03  6.190352e+07 -1.000000e+00
max    2.216000e+03  8.254290e+07  1.000000e+00

In [7]:
data['label'].value_counts()

-1    8376853
 1     421961
Name: label, dtype: int64

In [8]:
data

          aid       uid  label
0        1781  55796870      1
1        1749  43916672      1
2         688  31024206      1
3         692  58447136      1
4        1057  63432630      1
5         191   2565246      1
6        1962  79049169      1
7        1468  47871007      1
8        1749  28904850      1
9         561   5792426      1
10        369  77129301      1
11        191  13412333      1
12       1605   1504563      1
13       1119  40288422      1
14       1566  30895928      1
15       1781  27737194      1
16        727  57912466      1
17       2031  67682534      1
18        561  30043615      1
19       1468  31817946      1
20       1215  67388946      1
21        121   8547544      1
22        914  79587415      1
23       1407  29555747      1
24       1827  26461244      1
25       1407  39829759      1
26       1468  67535982      1
27        561  24267494      1
28       1021  28936046      1
29        846  17484328      1
...       ...       ...    ...
8798784  1716  68285326     -1
8798785  1940  66827728     -1
8798786   932   5893166     -1
8798787  1468  69909950     -1
8798788   212  33028887     -1
8798789  1931  55615009     -1
8798790  1621  55596698     -1
8798791   561  65526227     -1
8798792   692  44346989     -1
8798793  2118  79042437     -1
8798794  1918  12895895     -1
8798795  1904  51169711     -1
8798796   692  18859929     -1
8798797   692   6387380     -1
8798798  1291  34975877     -1
8798799  1171  55304203     -1
8798800   231  74235862     -1
8798801   765  37022035     -1
8798802  1918   8709915     -1
8798803  1284  41010989     -1
8798804   561   1368292     -1
8798805   411  40872636     -1
8798806  1415  40376316     -1
8798807  1918  41030274     -1
8798808   966  35375221     -1
8798809   411  65509163     -1
8798810  1596   7379545     -1
8798811  1749  15539087     -1
8798812   411  17202792     -1
8798813   692  72207685     -1

[8798814 rows x 3 columns]